:host {
  box-sizing: border-box;
  width: 300px;
}

.video-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 263px;
  height: 300px;
  padding: 10px;
  border-radius: 5%;
}

.card-s-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card-s-img {
  background-image: url(../../../../assets/404.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 223px;
  height: 123px;
}
.card-s-more {
  width: 120px;
  height: 32px;
}
