:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header-searchbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-search-input {
  width: 396px;
}

.header-links {
  display: flex;
  align-items: center;
  width: 260px;
  justify-content: space-between;
}

.header-links .button-blue {
  margin-right: 10px;
}
.header-search-input {
  height: 32px;
}
.header-filter {
  display: flex;
  align-items: center;
}
.header-filter div,
.header-filter input,
.header-filter button {
  margin-right: 10px;
}

.header-filter button {
  border: none;
}
.header-logo {
  background-image: url(../../../../assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.header-sort-button {
  background-image: url(../../../../assets/search_settings.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.header-authorization {
  padding:1.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
}
.header-auth-icon {
  width: 30px;
  height: 30px;
}
.header-search-grp {
  display: flex;
}
