
<div class="header-main">
<div class="header-searchbar">
  <div class="header-filter">
    <div class="header-logo"></div>
    <input [(ngModel)]="searchString" type="text" class="header-search-input" />
    <button
      (click)="submitSearch()"
      class="header-search-button button-blue button-m"
    >
      search
    </button>
  </div>
  <button
    (click)="filtersVisible = !filtersVisible"
    class="header-sort-button page-button"
  ></button>
</div>
<div class="header-links">
  <a class="button-blue button-m" routerLink="/"> Home </a>
  <a class="button-blue button-m" routerLink="/user-forms"> User Cards </a>
</div>
<div (click)="signOut()" class="header-authorization">
  <div class="header-auth-icon"></div>
<ng-container  *ngIf="user$ | async as user" >
  <p> {{ user.login || "not logged in" }}</p>
</ng-container>
</div>
</div>
<app-filtering-criteria
*ngIf ="filtersVisible"
class="filters"
></app-filtering-criteria>
