<div class="header-main">
  <div class="header-searchbar">
    <div class="header-filter">
      <div class="header-logo"></div>
      <form class="header-search-grp" (ngSubmit)="submitSearch()" [formGroup]="searchForm">
        <nb-form-field>
          <nb-icon nbPrefix icon="globe-outline" pack="eva"></nb-icon>
          <input nbInput formControlName="searchQuery" type="text" />
        </nb-form-field>
        <button nbButton status="primary" size="small" type="submit"> Search </button>
      </form>
    </div>
    <button nbButton status="primary" size="small" (click)="toggleSidebar()">
      <nb-icon icon="options-2-outline" pack="eva"></nb-icon>
    </button>
  </div>
  <div class="header-links">
    <a nbButton status="primary" size="small" routerLink="/"> Home </a>
    <a nbButton status="primary" size="small" routerLink="/user-forms"> User Cards </a>
  </div>
  <div (click)="signOut()" class="header-authorization">
    <ng-container *ngIf="authFacade.user$ | async as user">
      <img class="header-auth-icon" [src]="'../../../../assets/' + user!.avatar + '.svg'" />
      <p> {{ user.login || "not logged in" }}</p>
    </ng-container>
  </div>
</div>

