<div class="header-main">
  <div class="header-searchbar">
    <div class="header-filter">
      <div class="header-logo"></div>
      <form class="header-search-grp" (ngSubmit)="submitSearch()" [formGroup]="searchForm">
        <input formControlName="searchQuery" type="text" class="header-search-input" />
        <input type="submit" value="search" class="header-search-button button-blue button-m" />
      </form>
    </div>
    <button (click)="filtersVisible = !filtersVisible" class="header-sort-button page-button"></button>
  </div>
  <div class="header-links">
    <a class="button-blue button-m" routerLink="/"> Home </a>
    <a class="button-blue button-m" routerLink="/user-forms"> User Cards </a>
  </div>
  <div (click)="signOut()" class="header-authorization">
    <ng-container *ngIf="user$ | async as user">
      <img class="header-auth-icon" [src]="'../../../../assets/' + user!.avatar + '.svg'" />
      <p> {{ user.login || "not logged in" }}</p>
    </ng-container>
  </div>
</div>
<app-filtering-criteria *ngIf="filtersVisible"></app-filtering-criteria>
