<form (ngSubmit)="handleSubmit()" [formGroup]="filterForm" class="filter-form">
  <div class="input-grp">
    <label class="block-label" htmlFor="sortType"> Sorting criteria </label>
    <nb-select formControlName="sortType" id="sortType">
      <nb-option value="views">Views</nb-option>
      <nb-option value="date">Date</nb-option>
      <nb-option value="likes">Likes</nb-option>
      <nb-option value="none">None</nb-option>
    </nb-select>
  </div>
  <div class="input-grp">
    <label class="block-label" htmlFor="filterBy"> Filter by Phrase: </label>
    <input nbInput formControlName="filterBy" type="text">
  </div>
  <button nbButton status="primary" size="small" type="submit">
    Apply
  </button>
</form>
