<app-header></app-header>
<div class="main">
  <div class="search-list">
    <ng-container *ngIf="searchItemsFacade.searchItems$ | async as vids">
      <app-search-item *ngFor="let vid of vids let index=index; trackBy:vidById" [vidObj]="vid">
      </app-search-item>
      <h2 *ngIf="vids.length === 0">
        Nothing to display, try searching for something
      </h2>
    </ng-container>
  </div>
  <app-error-modal *ngIf="searchItemsFacade.searchError$ | async as err" [error]="err">
</app-error-modal>
</div>
