:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  width:100vw;
}
.log-in-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
  padding: 25px;
  width: 320px;
  height: 520px;
}

.form-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
