<div class="card-l">
  <iframe allow="fullscreen" width="320" height="600" [src]="vidUrl"></iframe>
  <div class="card-l-other">
    <div class="card-l-top">
      <h4 class="card-l-name">{{ item.snippet.title }}</h4>
      <p>{{ vidDate | date }}</p>
    </div>
    <article>
      <p class="card-l-description">{{(item.snippet.description .length>200)? (item.snippet.description |
        slice:0:400)+'..':(item.snippet.description)}}</p>
    </article>
    <div class="card-l-info">
      <div class="info-views">
        <nb-icon nbPrefix icon="eye-outline"></nb-icon>{{ item.statistics.viewCount }}
      </div>
      <div class="info-likes">
        <nb-icon nbPrefix icon="heart-outline"></nb-icon>{{ item.statistics.likeCount }}
      </div>
      <div class="info-comments">
        <nb-icon nbPrefix icon="message-square-outline"></nb-icon>{{ item.statistics.commentCount }}
      </div>
    </div>
  </div>
</div>
