<nb-flip-card>
  <nb-card-front>
    <nb-card size="small">
      <nb-card-body>
        <div class="video-data">
          <img class="card-s-img" [src]="imgUrl" />
          <div class="card-s-info">
            <div class="info-views">
              <nb-icon nbPrefix icon="eye-outline"></nb-icon>{{ video.statistics.viewCount }}
            </div>
            <div class="info-likes">
              <nb-icon nbPrefix icon="heart-outline"></nb-icon>{{ video.statistics.likeCount }}
            </div>
            <div class="info-comments">
              <nb-icon nbPrefix icon="message-square-outline"></nb-icon> {{ video.statistics.commentCount }}
            </div>
          </div>
          <p class="card-s-name">{{ video.snippet.title }}</p>
          <a nbButton status="primary" size="tiny" id="{{ video.id }}" [routerLink]="['vid', video.id]"
            [state]="{ data: video }">
            Watch
          </a>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="small">
      <nb-card-header>
        <p class="card-s-description">{{(video.snippet.description .length>300)? (video.snippet.description |
          slice:0:300)+'..':(video.snippet.description)}}</p>
      </nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
