<nb-flip-card>
  <nb-card-front>
    <nb-card size="small">
      <nb-card-body>
        <div class="video-data">
          <img class="card-s-img" [src]="imgUrl" />
          <ng-container *ngIf="(statistics && statistics.viewCount)">
            <div class="card-s-info">
              <div class="info-views">
                <nb-icon nbPrefix icon="eye-outline"></nb-icon>{{ statistics.viewCount }}
              </div>
              <div class="info-likes">
                <nb-icon nbPrefix icon="heart-outline"></nb-icon>{{ statistics.likeCount }}
              </div>
              <div class="info-comments">
                <nb-icon nbPrefix icon="message-square-outline"></nb-icon> {{ statistics.commentCount }}
              </div>
            </div>
          </ng-container>
          <p class="card-s-name">{{title}}</p>
          <ng-container *ngIf="link.length === 0">
            <a nbButton status="primary" size="tiny" id="{{ video.id }}" [routerLink]="['vid', video.id]"
              [state]="{ data: video }">
              Watch
            </a>
          </ng-container>
          <ng-container *ngIf="link.length > 0">
            <a nbButton status="primary" size="small" href="{{video.link }}" target="_blank">
              More
            </a>
          </ng-container>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="small">
      <nb-card-header>
        <p class="card-s-description">{{description}}</p>
      </nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
