<nb-layout>
  <nb-layout-column>
    <nb-layout-header fixed>
      <div class="user-page-header">
        <a nbButton size="large" status="primary" routerLink="/"> Home </a>
        <h1>Make your own cards</h1>
        <button nbButton size="large" status="success" (click)="toggleFormVisibility()">
          Make a card
        </button>
      </div>
    </nb-layout-header>
    <div class="card-list">
      <ng-container *ngIf="userItemsFacade.userItems$ | async as videos">
        <app-user-item *ngFor="let video of videos; let index=index; trackBy:cardsById" [userVideo]="video">
        </app-user-item>
        <h3 *ngIf="videos.length === 0">
          No cards to display, would you like to <button nbButton size="giant" status="success"
            (click)="toggleFormVisibility()">
            Make a card
          </button>
        </h3>
      </ng-container>
    </div>
  </nb-layout-column>
</nb-layout>
